
html {
    margin: 0 auto;
    max-width: 1180px;
	width: auto;
	
	}

	
body {
		font-family: verdana, serif;
		 margin: auto;
		
		 width: auto;
		 text-align: justify;
		color:black;
	
	}
	
#Main {margin: 0 auto; width:auto; background: white; }
	
.MainContent { 
				top: 75px;
				position:relative;
	
				}

			

#primaryNav { top:0;} 

#primaryNav ul {
				list-style-type: none;
				position:relative;
				margin: 0;
				padding:0;	
				background:black;
				float: left;
				border-right: 1px solid black;
				}

#primaryNav ul a {
					display:inline-block;
					color:white;
					text-decoration:none;
					font-size:18px;
					width: 100%;
					padding:0 15px;
					} 

#primaryNav ul li {
					position:relative;
					float:left;
					margin:0;
					padding:0 15px;
					}
					
#primaryNav li:hover > a { background: #d9d9d9; color:black; }

#primary_nav_wrap ul li.current-menu-item { background:#d9d9d9; }

#primaryNav ul li:hover, #primaryNav ul li:focus { background:#f6f6f6; color:#000; }

#primaryNav ul ul {
					display:none;
					position:absolute;
					top:100%;
					left:10;
					background:#000;
					padding:0;
					width:100%;
					}
					
#primaryNav ul ul li {
						float:none;
						width:auto;
						position:relative;
						display:block;
						text-align:center;
						background:black;
						z-index:1;
						}

#primaryNav ul ul a {
						line-height:120%;
						padding:10px 15px;
						width:auto;
						text-align:center;
						
					}

#primaryNav ul ul ul
{
top:0;
left:100%
}

#primaryNav ul li:hover > ul
{
display:block
}


	
header	{	
		 position:relative;
		top:85px;
		margin:auto;
		border-bottom: 1px solid black;
		text-align: left;
		width: auto;
		
		}
		
	a:visited{ text-decoration:none;}
	a:hover {color:red;}
				
				
	
h1 { 
	color: black; 
	margin:auto;
		
	}
	
h2 { text-decoration: underline;}


#PortfolioLink ul
{
list-style-type:none;
position: fixed;
right: 0;
bottom: 100px;
padding: 0;
font-size: 10px;
border-left: 1px solid black;
border-top: 1px solid black;
border-bottom: 1px solid black;
background:white;

}

#PortfolioLink li a
{

display:block;
padding:10px;
text-decoration: none; 
color:black;
word-wrap: break-word;
}

#PortfolioLink li a:hover
{
background:#0077b3;
}