
html { max-width: 1180px;
 margin: auto;
	background-image: url(Hockey_1.jpg);
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
	}

.wrapper{ width: 90%; 
		
		background:gray;
		padding:15px;
		
		}

header { text-align: center; 
		text-transform: uppercase; 
		font-family: serif, Gerorgia;
		background: gray;
		}
		
		
h1, h2
{
font-family: "Arial Black", Arial;
font-style:italic;
font-variant: small-caps;
}

#NavTop ul {list-style-type: none; 
			margin: 5; 
			padding: 5px;
			width: 100px;
			background: #f2f2f2;
			right:0;
			position: fixed;
			overflow: hidden;
			}

		#NavTop li a { display: block;
						text-decoration: none; 
						padding:10px 10px;
						text-align: center;
						color: black;
						border-bottom: 2px solid black;
						font-size: 20px;
					}
		
			#NavTop li a:hover { background:black; 
								color: white; 
								}
#BackToTop { margin-top: 5px;}


footer { border-top: 2px dashed black; text-align: center; }

h5 {  border: 5px solid white; padding: 2px; display: block; font-size: 20px; text-decoration: underline; color: green; margin: 0 auto; width: 70%;}

h5:hover{ font-size: 50px; color: red; border: 5px solid white; }

#FootNav ul {list-style-type:none; border-top: 2px solid black;}

	#FootNav li { display: inline-block; padding-top: 10px;}
	
	#FootNav li a {
					text-decoration: none;
					text-align: center;
					color: black;
					padding: 10px 15px 2px 10px;
					font-size:20px;
					}
					
		#FootNav li a:hover {background:blue; color: black; }