
* {
    box-sizing: border-box;
}
 

header
{
top:0;
height:300px;
background-image: url(Images/CleBackground.jpg);
background-repeat:no-repeat;
background-position:bottom center;
background-size:1000px 500px;
font-variant:small-caps;
font-size: 30px;
font-family: georgian, serif;
text-align:center;
color:white;
}

#ContentWrap
{
	width:80%;
margin:0 auto;
text-align:center;
}

#Content
{
display:grid;
grid-template-columns: 300px 300px 300px;
grid-gap: 20px;
justify-content: space-evenly;
}



#HeadTitle
{
text-align:center;
font-variant: small-caps;
font-size:35px;
text-decoration:italic;
}

.Titles 
{
position:relative;
text-align:center;
font-variant:small-caps;
}


.Content2 a 
{
text-decoration: none;
color: black;
display:block;
border:2px solid black;
height:250px;
padding:5px;
}

.Content2 
{
margin-bottom:10px;
overflow:hidden;
}


.Content2 a:hover
{
 transition: 0.2s ease-in; 
border:4px solid black;
background:#b3d9ff;
}

.Content2 a:visted
{
opacity:0.7;
}



h3
{
font-size:25px;
font-family: georgian, serif;
}

#TopNav
{
margin-top:1%;
margin-bottom:1;
text-align:left;
font-size:20px;	
}


#TopNav li
{
list-style-type:none;	
display:inline-block;
}

#TopNav a
{
	
text-decoration:none;
color:black;
padding:5px;
}

#TopNav a:hover
{
transition:0.3s;
border:2px solid black;
background:white;
z-index:1;
}

footer
{
float:left;
width:100%;
background:#006080;
border-top:2px solid black;
text-align:center;
}

footer p 
{
padding:1%;
}

.footlinks a
{
text-decoration:none;
padding:7px;
border:2px solid black;
background:#004d66;
color:white;
}

.footlinks a:hover
{
transition:0.3s;
background:white;
color:black;
}


#FootTitle
{
font-size:20px;
color:white;
text-align:center;
}


.MainPageLink a
{
text-decoration:none; 
color:black;
padding:5px;
border:1px solid black;
}

.MainPageLink a:hover
{
transition: 0.2s ease-out;
border:3px solid black;
}

#WrapperTopNav
{
margin:0 auto;
width:80%;	
}

#BreakLine
{
	margin-top:2%;
border-top:2px solid black;
}

/* -- Mobile Styling -- */
@media screen and (max-width: 700px)
{

#Content
{
grid-template-columns: auto auto;
grid-gap: 5px;	
}
	
.Content2 a
{
overflow:hidden;
}


	
}